//Typography //EFFECTS //BLOCKQUOTE //Formik form error & validation //NAV //RESET

//Headroom
.headroom-wrapper {
  height: 0 !important
  ;
}
.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.headroom--unfixed {
  position: absolute !important;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

//Typography
h6,
.h6 {
  color: $secondary-500;
}

.link,
.editorjs-content a {
  text-decoration: underline;
  font-weight: bold;
}

.editorjs-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }

  .embed-container {
    padding: 56.25% 0 0 0;
    position: relative;
    margin: 16px 0;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//EFFECTS
.glassmorphism-1 {
  background: rgba(255, 255, 255, 0.85) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

//BLOCKQUOTE
blockquote {
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid $primary;
  line-height: 1.6;
  position: relative;
  background: $gray-100;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: $primary;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

//Formik form error & validation
.input-group-text,
.form-check-input {
  &.is-invalid,
  &.is-invalid ~ .form-check-label {
    color: $danger;
    border-color: $danger;
  }
  &.is-valid {
    color: $success;
    border-color: $success;
  }
}

// .form-check-input.is-invalid ~ .form-check-label {
//   color: $danger !important;
//   border-color: $danger;
// }

//YOUTUBE
.containerYoutube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.videoYoutube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//NAV
.navbar {
  .nav-link {
    font-size: 12px;
    line-height: 21px;
    &.active {
      font-weight: 900;
      line-height: 21px;
    }
  }
}

.nav-tabs {
  border-color: $secondary-200 !important;
  .nav-link {
    font-size: 16px;
    color: $primary-300;
    &.active {
      font-weight: 700;
      color: $primary-500;
    }
  }
}

//RESET
a {
  color: inherit;
  text-decoration: inherit;
  background-color: inherit; // Remove the gray background on active links in IE 10.

  @include hover() {
    color: inherit;
    text-decoration: underline;
    font-weight: 700;
  }
}
.btn {
  margin-bottom: inherit;
}

.btn-primary:hover,
.btn.bg-gradient-primary:hover {
  background-color: $primary-700;
  border-color: $primary-700;
}

//Text Shadows
.text-shadow-1 {
  text-shadow: 2px 2px 6px $gray-700;
}
.elegantshd {
  // color: #131313;
  // background-color: #e7e5e4;
  letter-spacing: 0.15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
    -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89,
    -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897,
    -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6,
    -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5,
    -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4,
    -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1,
    -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc,
    -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}
.deepshd {
  // color: #e0dfdc;
  // background-color: #333;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
    0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}
.xbootstrap {
  // color: #202020;
  // background-color: #2d2d2d;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
.retroshd {
  // color: #2c2c2c;
  // background-color: #d5d5d5;
  letter-spacing: 0.05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
.retroshd:hover {
  text-decoration: none;
}
